body {
  background-image: url("bg.jpg");
  background-size: cover;        /* fills screen */
  background-position: center;   /* centered */
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}


.chat-container {
  width: 360px;
  height: 540px;
  background: white;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.header {
  padding: 12px;
  text-align: center;
  background: #f2e9f7;
  font-weight: bold;
}

.chat {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
}

.msg {
  margin-bottom: 8px;
  padding: 8px 12px;
  border-radius: 14px;
  max-width: 75%;
  font-size: 14px;
}

.user {
  background: #e0f7fa;
  align-self: flex-end;
}

.Anandan {
  background: #f5f5f5;
  align-self: flex-start;
}

.input-area {
  display: flex;
  gap: 8px;
  padding: 10px;
}

input {
  flex: 1;
  border-radius: 20px;
  padding: 8px 12px;
  border: 1px solid #ccc;
}

button {
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
